# syntax highlighting
# https://askubuntu.com/questions/90013/how-do-i-enable-syntax-highlighting-in-nano
include /usr/share/nano/sh.nanorc

# line numbers
# https://askubuntu.com/questions/73444/how-to-show-line-numbering-in-nano-when-opening-a-file
set const
